
.product-container{
    display: flex;
    gap: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    max-width: 800px;
    margin-top: 60px ;
    margin-left: auto;
    margin-right: auto;
    /* margin:auto; */
    font-family: Arial, sans-serif;
}
.item-image{
   background-color:  rgb(181, 180, 180);
}