h2{
    text-align: center;
    padding: 20px;
    font-weight: bold;
    color: rgba(83, 98, 111, 0.795);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.todo-text{
    font-weight: bold;
    font-size: large;
    margin: 30px;
}